{
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "overrides": [
    {
      "files": [
        "*"
      ],
      "options": {
        "semi": false,
        "bracketSpacing": true
      }
    }
  ]
}